<style type="text/css">
div{
	border: 2px solid black;
	transform: skew(30deg,20deg);
	background: linear-gradient(blue,red);
	background-size: 100px 50px;
}

</style>

<% provide(:title, 'Home') %>
<div>
<h1 >Sample App</h1>
<p>
  This is the home page for the
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.
</p>
</div>